* {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-body {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.Body-kiri {
  width: 40%;
  list-style-type: square;
  display: flex;
  flex-flow: column nowrap;
}

.Header-logo {
  width: 40vw;
  height: 40vh;
  pointer-events: none;
}

.Body-kiri li {
  padding-bottom: 10px;
}

.Body-kanan {
  width: 60%;
  list-style-type: circle;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

hr.Garis-name {
  margin: auto;
}

.List-info {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.Header-name {
  text-align: center;
  font-size: calc(10px + 5vmin);
}

.Body-kanan li {
  padding-bottom: 10px;
}

.Body-bawah {
  margin: 40px 20px 0px 20px;
  display: flex;
  flex-flow: row wrap;
}

.Body-bawah li {
  padding-top: 5px;
  font-size: calc(10px + 1vmin);
}

.Body-bawah hr {
  flex-basis: 100%;
}

.lingkaran {
  border-radius: 200px;
}

.Bawah-child {
  flex-basis: 50%;
}

.Tombol-container {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tombol-container button {
  padding: 10px 20px;
  font-weight: 700;
  font-size: calc(10px + 1vmin);
  border-radius: 10px;
  color: white;
  background-color: cornflowerblue;
}