* {
  margin: 0;
  overflow-x: hidden;
}

.Flex-Tengah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hidden {
  display: none !important;
}

.Biodata {
  padding-top: 30px;
  width: 100vw;
  color: white;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.App-body {
  width: 100vw;
  height: 67vh;
  display: flex;
  flex-flow: row nowrap;
}

.Body-kiri {
  width: 40vw;
  list-style-type: square;
  display: flex;
  flex-flow: column nowrap;
}

.Header-logo {
  width: calc(40vw - 10px);
  height: 40vh;
  line-height: 40vh;
  text-align: center;
  border: 5px solid gray;
}

.Body-kiri li {
  padding-bottom: 10px;
}

.Body-kanan {
  width: 60vw;
  /* list-style-type: circle; */
  flex-flow: column nowrap;
  gap: 50px;
}

hr.Garis-name {
  margin: auto;
}

.List-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.Header-name {
  text-align: center;
  font-size: calc(5px + 5vmin);
}

.Body-kanan li {
  padding-bottom: 10px;
}

.Body-bawah {
  margin: 20px 20px 0px 20px;
  height: calc(33vh - 22px);
  display: flex;
  flex-flow: row wrap;
}

.Body-bawah li {
  padding-top: 5px;
  font-size: calc(10px + 1vmin);
}

.lingkaran {
  border-radius: 200px;
}

div.Bawah-child {
  flex-basis: 50%;
}

.Tombol-container {
  min-height: 90px;
}

.Custom-button {
  padding: 10px 20px;
  font-weight: 700;
  font-size: calc(10px + 1vmin);
  border-radius: 10px;
  color: white;
  background-color: cornflowerblue;
}

.Custom-button:hover {
  background-color: rgb(69, 92, 167);
  color: rgba(255, 255, 255, 0.85);
  transition: .2s;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 50%;
  border: none;
  border-radius: 10px;
  text-align: left;
  font-size: calc(5px + 2vmin);
  font-weight: 900;
}

.accordion p {
  font-size: calc(10px + 1vmin);
  font-weight: 500;
  padding-top: 10px;
}

.Header-profile {
  height: 8vmin;
  font-size: calc(10px + 3vmin);
  font-weight: 900;
  letter-spacing: 0.3em;
  color: white;
  background-color: #282c34;
}

.navbar {
  gap: 0.1vmax;
  border: 1px solid black;
  background-color: #282c34b6;
}

.navbar-child {
  height: 4vmin;
  flex-basis: 33.3vmax;
  font-size: calc(5px + 2vmin);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
}

.navbar-child:hover {
  transition: .2s;
  color: rgb(230, 230, 230);
  background-color: #282c3463;
}

.Profile {
  height: calc(100vh - 12vmin - 82px);
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 50px;
  background-color: #282c34;
  font-size: calc(5px + 1vmax);
}

.Profile-utama {
  gap: calc(30px + 5vw);
}

.Profile-logo {
  width: 20vw;
  height: 20vw;
}

.Profile-info {
  height: 200px;
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0px 20px;
  gap: 15px;
  background-color: white;
  border-radius: 30px;
  /* color: #444; */
}

.Profile-riwayat {
  height: 30%;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
}

.Form {
  height: calc(100vh - 12vmin - 82px);
  padding: 40px;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  background-color: #282c34;
  color: white;
}

.Form-selection {
  font-weight: 700;
  font-size: calc(10px + 1vmax);
  display: flex;
  gap: 50px;
}

.group-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.group-button button {
  border-radius: 15px;
  border: none;
  width: 30px;
  height: 30px;
}

.group-button button:hover {
  transition: .2s;
  background-color: rgb(210, 210, 210);
}

.Form-profile {
  width: 320px;
  flex-flow: column nowrap;
  gap: 20px;
}

.Form-field {
  display: flex;
  flex-flow: row wrap;
}

.Form-field label {
  width: 130px;
}

.Form-button {
  margin-top: 20px;
  width: 200px;
}

#Form-submit {
  align-self: flex-end;
}

.Form-riwayat {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.Form-riwayat textarea {
  width: 100%;
  max-width: 500px;
  resize: none;
}

@media only screen and (min-width: 750px) {
  .Form-profile {
    margin-left: 70px;
  }

  .Form-riwayat {
    width: 500px;
    margin-left: 70px;
  }

  .Profile-info {
    height: 40vh;
    max-height: 300px;
  }

  .Profile-riwayat {
    width: calc(70vw + 100px);
  }
}