* {
  margin: 0;
  overflow-x: hidden;
}

.App {
  width: 100vw;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-body {
  width: 100vw;
  height: 67vh;
  display: flex;
  flex-flow: row nowrap;
}

.Body-kiri {
  width: 40vw;
  list-style-type: square;
  display: flex;
  flex-flow: column nowrap;
}

.Header-logo {
  width: calc(40vw - 10px);
  height: 40vh;
  line-height: 40vh;
  text-align: center;
  border: 5px solid white;
}

.Body-kiri li {
  padding-bottom: 10px;
}

.Body-kanan {
  width: 60vw;
  /* list-style-type: circle; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

hr.Garis-name {
  margin: auto;
}

.List-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.Header-name {
  text-align: center;
  font-size: calc(5px + 5vmin);
}

.Body-kanan li {
  padding-bottom: 10px;
}

.Body-bawah {
  margin: 20px 20px 0px 20px;
  height: calc(33vh - 22px);
  display: flex;
  flex-flow: row wrap;
}

.Body-bawah li {
  padding-top: 5px;
  font-size: calc(10px + 1vmin);
}

.lingkaran {
  border-radius: 200px;
}

div.Bawah-child {
  flex-basis: 50%;
}

.Tombol-container {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Custom-button {
  padding: 10px 20px;
  font-weight: 700;
  font-size: calc(10px + 1vmin);
  border-radius: 10px;
  color: white;
  background-color: cornflowerblue;
}

.Custom-button:hover {
  background-color: rgb(69, 92, 167);
  color: rgba(255, 255, 255, 0.85);
  transition: .2s;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 50%;
  border: none;
  border-radius: 10px;
  text-align: left;
  font-size: calc(5px + 2vmin);
  font-weight: 900;
}

.accordion p {
  font-size: calc(10px + 1vmin);
  font-weight: 500;
  padding-top: 10px;
}